@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --mainFont: "Dancing Script", cursive;
  --darkColor: #eb2d37;
  --midColor: #b22222;
  --lightColor: #ffffff;
  --cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --cardHoverShadow: 5px 10px 18px var(--midColor);
  --transition: 0.3s ease-in-out all;
}

body {
  background-color: var(--darkColor);
  color: var(--lightColor);
  font-family: var(--mainFont);
}
a,
u {
  text-decoration: none;
}
.main-font {
  font-family: var(--mainFont);
}
.secondary-font {
  font-family: var(--mainFont);
}
.header-container {
  margin: 0, 20px, 0, 20px;
}
.header {
  margin-top: 50px;
  font-size: 1.95rem;
  font-family: var(--mainFont);
}
.canadian {
  font-size: 2.5rem;
}
.leaf {
  vertical-align: text-top;
  padding: 6px;
}
.province-name {
  font-size: 1.8rem;
  font-family: var(--mainFont);
}
.holidays-number {
  font-size: 1.25rem;
  font-family: var(--mainFont);
}
.next-holiday {
  font-size: 1.2rem;
  color: var(--darkColor);
  font-family: var(--mainFont);
}
.holidays {
  font-size: 1.1rem;
  font-family: var(--mainFont);
}
.circular-progress {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-family: var(--mainFont);
}
.card {
  height: "100%";
  display: "flex";
  flex-direction: "column";
  transition: var(--transition);
  box-shadow: var(--cardShadow);
}
.card:hover {
  box-shadow: var(--cardHoverShadow);
  transform: translate(0, -10px);
}
.card:active {
  transform: scale(1.01) translateY(0.2rem);
}
.source-button {
  color: var(--darkColor);
}
.language-button {
  font-family: var(--mainFont);
  font-size: 1.2rem;
  color: var(--darkColor);
}
.love {
  vertical-align: text-top;
}
.footer {
  font-size: 1.35rem;
  font-family: var(--mainFont);
}
.footer-last {
  font-size: 0.85rem;
  font-family: var(--mainFont);
}
